<head>
	<title>{{ pageTitle }}</title>

	<!--// Metadata //-->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width initial-scale=1">

	<!--// Metadata //-->
	<meta name="description" content="{{ globals.description }}">
	<meta property="og:type" content="website">
	<meta property="og:title" content="{{ globals.title }}">
	<meta property="og:url" content="http://bengsfort.github.com/index.html">
	<meta property="og:site_name" content="{{ globals.title }}">
	<meta property="og:description" content="{{ globals.description }}">
	<meta name="twitter:card" content="summary">
	<meta name="twitter:title" content="{{ globals.title }}">
	<meta name="twitter:description" content="{{ globals.description }}">
	<meta name="twitter:creator" content="@{{ author.twitter_id }}">
	<meta property="fb:admins" content="{{ author.fb_admins }}">
	<meta property="fb:app_id" content="{{ author.fb_app_id }}">
	
	{{#if globals.favicon }}
		<link rel="icon" href="{{ globals.favicon }}" />
	{{/if}}

	<!--// Google //-->
	<meta name="google-site-verification" content="EK9WmxAJcvE8FCxlSOwmox7XrASlDenlj-WUGuMKnNE" />
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({
		google_ad_client: "ca-pub-7029788304714937",
		enable_page_level_ads: true
	});
	</script>
	
	<!--// Stylesheets //-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="/styles/main.css" rel="stylesheet">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/styles/atom-one-dark.min.css">

	<!--// Structured Data //-->
	{{> structured-data isPost=isPost}}
</head>