<!DOCTYPE html>
<html>
	{{> head pageTitle=title isPost=false}}

	<body>
		{{> nav-pane }}

		<main class="main-wrapper">
			<div class="container">
				{{> components/page-intro header=title description=description }}
				{{{ contents }}}
				{{#if listPosts }}					
					{{> posts-list collection=posts }}
				{{/if}}
				{{#if listArticles }}
					{{> posts-list collection=articles isInCategory=true }}
				{{/if}}
				{{#if listDevLogs }}
					{{> posts-list collection=dev-logs isInCategory=true }}
				{{/if}}
				{{#if listPixelArt }}
					{{> art-list }}
				{{/if}}
			</div>
		</main>

		{{> svg-defs }}
		{{> scripts }}
		{{> google-analytics }}
	</body>
</html>