<!DOCTYPE html>
<html>
	{{> head pageTitle=title }}

	<body>
		{{> nav-pane }}

		<main class="main-wrapper">
			<div class="container">
				{{> components/page-intro header=title description=description }}
				{{{ contents }}}
				{{#if listPosts }}
					{{> posts-list collection=listPosts }}
				{{/if}}
			</div>
		</main>

		{{> svg-defs }}
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script type="text/javascript" src="/js/bin/materialize.min.js"></script>
		{{> google-analytics }}
	</body>
</html>