.intro-text {
	margin-bottom: 48px;
	 
	.headline {
		@extend .blue-text;
		@extend .text-accent-4;
		font-weight: 300;
		margin-bottom: 0;
	}

	.subtitle {
		display: block;
		font-size: 1.5rem;
	}

	.series {
		display: block;
		font-weight: 300;
		font-size: 1rem;
		font-style: italic;
		color: #383838;
	}
}