
#site-navigation {
	color: #383838;
	height: auto;
	margin: 12px 0;
	line-height: 1.2;
	box-shadow: none;
	background: transparent;

	.site-nav {
		li {
			position: relative;
			display: block;
			width: 100%;
			float: none;
			background: transparent;

			&::before {
				@extend .blue;
				@extend .accent-4;
				content: "";
				display: block;
				height: 100%;
				width: 5px;
				position: absolute;
				top: 0;
				left: 0;
				transform: translateX(-5px);
				-webkit-transform: translateX(-5px);
				transition: transform 255ms;
				-webkit-transition: transform 255ms, -webkit-transform 255ms;
			}

			&.active::before,
			&:hover::before {
				background: transparent;
				transform: translateX(0);
				-webkit-transform: translateX(0);
			}
		}

		a {
			display: block;
			padding: 12px 30px;
			font-size: 1.15rem;
			font-weight: 700;
			color: #181818;

			&:hover {
				background: transparent;
			}
		}
	}
}