
#site-navigation {
	color: #383838;
	height: auto;
	margin: 12px 0;
	line-height: 1.2;
	box-shadow: none;
	background: transparent;

	.site-nav {
		li {
			display: block;
			width: 100%;
			float: none;
			background: transparent;

			&:hover {
				background: transparent;
			}
		}

		a {
			display: block;
			padding: 12px 30px;
			font-size: 1.15rem;
			font-weight: 700;
			color: #181818;

			&:hover {
				background: transparent;
			}
		}
	}
}