<section class="intro-text">
	<h1 class="headline"><%- config.title %></h1>
	<% if (config.description) { %>
		<span class="subtitle">Index Page: <%- config.description %></span>
	<% } %>
</section>

<%- partial('_partials/posts-list.ejs', { category: 'all', count: -1 }) %>