<nav id="site-navigation">
	<ul class="site-nav">
		<% for (var i in theme.menu){ %>
			<li>
				<a href="<%- url_for(theme.menu[i]) %>" class="waves-effect"><%= i %></a>
			</li>
		<% } %>
	</ul>
</nav>