$author-avatar-size: 100px;
$author-card-padding: 6px;

.author-card {
	@extend .blue;
	position: relative;
	box-shadow: 0px 3px 17px rgba(0, 0, 0, 0.1);

	.author-card-top {
		@extend .blue;
		@extend .darken-2;
		height: ($author-avatar-size / 2) + $author-card-padding;
		padding: $author-card-padding;
		margin-bottom: ($author-avatar-size / 2) + $author-card-padding;
	}
	.author-card-body {
		padding: 0 $author-card-padding $author-card-padding;
		text-align: center;
		color: #f8f8f8;
	}

	.author-avatar-wrapper {
		width: $author-avatar-size;
		height: $author-avatar-size;
		overflow: hidden;
		margin: 0 auto;
		border-radius: $author-avatar-size;
		box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.5) inset;
	}
	.author-avatar {
		width: 100%;
	}

	.author-name {
		font-size: 1.25rem;
		font-weight: 700;
	}
	.author-job-info {
		font-size: 0.85rem;
	}
	.author-position {
		display: block;
		color: #fff;
	}
	.author-employer {
		font-weight: 700;
		color: #fff;
		transition: color 255ms;
		&:hover {
			color: #f8f8f8;
		}
	}

	.author-social {
		margin-top: 0.5rem;
	}
	.author-twitter {
		margin-left: 0.5rem;
	}

	.icon {
		height: 1.25rem;
		width: 1.25rem;
		fill: #ebebeb;
		border-radius: $author-avatar-size;
		box-shadow: 0 0 0 rgba(0, 0, 0, 0);
		transition: all 255ms;
		&:hover {
			fill: #fff;
			box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
			transition: all 255ms;
		}
	}
}